include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(method="post" action="/cruza/cruzar/ok" id="formulario")
      div(class="mb-3")
        label(for="nombre" class="form-label")
          b Nombre de la mascota
        input(type="text" class="form-control" id="nombre" disabled value=perro.nombre)
      div(class="mb-3")
        label(for="sexo" class="form-label")
          b Sexo *
        select(class="form-select" aria-label="Default select example", name="sexo" required )
          option(value="Macho") Macho
          option(value="Hembra") Hembra
      div(class="mb-3")
        label(for="celo" class="form-label")
          b Período de celo (en el caso de ingresar Hembra)
        input(type="text" class="form-control" name="celo" id="celo" minlength=1, maxlenght=255 )
      div(class="mb-3")
        label(for="id" class="form-label")
        input(type="hidden" class="form-control" name="id" id="id" required value=perro.id)
    

      input(type="submit" class="btn btn-info" value="Aceptar") 

    br
    a(href="/cruza")
      button(type="button" class="btn btn-info") Cancelar

script(src="/js/validacionNuevaAdopcion.js") 
include ../partials/footer.pug