include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    - var selected_nav_link = "perros";
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      a(href="/clientes?i=i")
        button(type="button" class="btn btn-info") Nuevo perro
    
      br
      br
    
      form(class="d-flex" role="search" method="post" action="/perros/" id="formulario" style="justify-content: center;")
        div(class="left-input input me-2")
          input(type="search" id="nombre" aria-label="Search" placeholder="Solo puede contener letras" value=nombre?nombre:"" name="nombre" style="width: 20rem;" onchange="this.setAttribute('value', this.value);")
          div(class="input_border_focus")
          div(class="input_placeholder") Nombre
        input(class="btn btn-info" type="submit" value="Buscar") 
    
      br
      br
    
      table(class="table table-striped table-info table-hover")
        thead 
          tr 
            th Nombre
            th Email dueño
            th Ver datos
            th Eliminar
        tbody 
        if(perros)
          each perro in perros
            tr  
              td #{perro.nombre}
              td #{perro.cliente.email}
              td 
                a(href="/perros/ver/"+perro.id)
                  button(type="button" class="btn btn-info") Ver 
              td 
                a 
                  button(type="button" disabled class="btn btn-info") Eliminar
        else 
          tr 
            td
            td No se encontraron perros
            td 
            td
    
    script(src="/js/validacionBusquedaPerro.js") 
  include ../partials/footer.pug