include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  a(href="/clientes")
    button(type="button" class="btn btn-info") Nuevo perro

  br
  br

  form(class="d-flex" role="search" method="post" action="/perros/" id="formulario")
    input(class="form-control me-2" type="search" placeholder="nombre" id="nombre" aria-label="Search" value=nombre, name="nombre")
    input(class="btn btn-info" type="submit" value="Buscar") 

  br
  br

  table(class="table table-striped table-info table-hover")
    thead 
      tr 
        th Nombre
        th Email dueño
        th Ver Datos
        th Eliminar
    tbody 
    if(perros)
      each perro in perros
        tr  
          td #{perro.nombre}
          td #{perro.cliente.email}
          td 
            a(href="/perros/ver/"+perro.id)
              button(type="button" class="btn btn-info") Ver 
          td 
            a 
              button(type="button" disabled class="btn btn-info") Eliminar
    else 
      tr 
        td
        td No se encontraron perros
        td 
        td

script(src="/js/validacionBusquedaPerro.js") 
include ../partials/footer.pug