include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message
  |
  p.fondoNaranja  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  hola
  p  holaanteultimo
  p  holaultimo

include ../partials/footer.pug