include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  a(href="/clientes/registrar") 
    button(type="button" class="btn btn-info") Registrar

include ../partials/footer.pug