include partials/head.pug

div(class="container-fluid")
  h1=error.status
  h2=error.name
  h3=error.message
  a(href="/")
    button(type="button" class="btn btn-info") Volver al inicio

include partials/footer.pug