include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug
  table(class="table table-striped table-info table-hover")
    thead 
      tr 
        th Campaña de donación
        th Monto donado
        th Fecha de donación
    tbody 
    if(donaciones.length > 0)
      each donacion in donaciones
        tr  
          td #{donacion.publicacion_donacion.nombre}
          td $ #{donacion.monto}
          td #{donacion.fecha.toISOString().slice(0,10)}
    else 
      tr 
        td
        td No se encontraron donaciones
        td 

  br
  a(href="/donaciones")
    button(type="button" class="btn btn-info") Volver

include ../partials/footer.pug