include ../partials/head.pug
include ../partials/header.pug
div(class="container-fluid")
  //- aca va la pagina hasta footer. inicia con 1 tab
  h1= message

  br
  br

  include ../partials/info.pug

  div(class="")
    form(method="post" action="/donaciones/nuevo" id="formulario")
      div(class="mb-3")
        label(for="nombre" class="form-label") Nombre de la campaña de donación
        input(type="text" class="form-control" name="nombre" id="nombre" required value=donacion.nombre)
      div(class="mb-3")
        label(for="monto" class="form-label") Monto a alcanzar
        input(type="number" class="form-control" name="monto" id="monto" required value=donacion.monto)
      div(class="mb-3")
        label(for="fecha_fin" class="form-label") Fecha de finalización
        input(type="date" class="form-control" name="fecha_fin" id="fecha_fin" required value=donacion.fecha_fin)
      
      input(type="submit" class="btn btn-info" value="Publicar") 

    br
    a(href="/donaciones")
      button(type="button" class="btn btn-info") Cancelar

script(src="/js/validacionNuevaDonacion.js") 
include ../partials/footer.pug