footer(class="navbar fixed-bottom bg-body-tertiary" style="position: absolute; bottom: 0; width: 100%;")
  div(class="container-fluid" style="justify-content: center;")
    a(class="navbar-brand" href="#" style="margin-right: 0;padding: 0;font-size:1rem;color:#444444") XL Code © 2023