nav(class="navbar navbar-expand-lg bg-body-tertiary" style={padding:'0px'})
  div(class="container-fluid", style={background: '#FDAC60'})
    a(class="navbar-brand" href="/")
      img(src="/logos/Logo1.png" alt="Logo" width="50vw" height="40vh" class="d-inline-block align-text-top")
    div(class="collapse navbar-collapse" id="navbarNavDropdown")
      ul(class="navbar-nav")
        li(class="nav-item")
          a(class="nav-link active" aria-current="page" href="/") Home
        li(class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Mi Cuenta
          ul(class="dropdown-menu")
            if !sesion.nombre
              li
                a(class="dropdown-item" href="/sesion/iniciar") Iniciar Sesi&oacute;n
            else
              li
                a(class="dropdown-item" href="/sesion/cerrar") Cerrar Sesi&oacute;n
              if sesion.nivel == 1
                li 
                  a(class="dropdown-item" href="/usuario/misMascotas") Mis mascotas
        if sesion.nivel == 2
          li(class="nav-item")
            a(class="nav-link" href="/clientes") Clientes
          li(class="nav-item")
            a(class="nav-link" href="/perros") Perros
        li(class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Publicaciones
          ul(class="dropdown-menu")
            li
              a(class="dropdown-item" href="/servicios") Servicios
            li
              a(class="dropdown-item" href="/adopciones") Adopciones
        li(class="nav-item dropdown")
          a(class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false") Turnos
          ul(class="dropdown-menu")
            li
              a(class="dropdown-item" href="#") Solicitudes
            li
              a(class="dropdown-item" href="/turno/solicitar") Solicitar Turno
            li
              a(class="dropdown-item" href="#") Próximos
    if sesion.nombre
      p= sesion.nombre+" "+sesion.apellido
    else
      p An&oacute;nimo
br
br