include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    - var selected_nav_link = "turnos";
    include ../partials/header.pug
    
    div(class="container-fluid")
      h1= message
    
      br
      br
    
      div(class="row")
        div(class="col-md-2") &nbsp;
        div(class="col-md-8")
          form(method="post" action="/turno/intento" id="formulario")
            div(class="mb-3")
              label(for="email" class="form-label") Franja Horaria
              select(class="form-control" name="franja" id="franja" required)
                option(value="" selected disabled) Elija una opci&oacute;n 
                option(value="temprano") Ma&ntilde;ana
                option(value="tarde") Tarde
            div(class="mb-3")
              label(for="nombre" class="form-label") D&iacute;a
              input(type="text" class="form-control" name="dia" id="dia" placeholder="dd/mm/aaaa" required)
            input(type="submit" class="btn btn-info" value="Solicitar Turno") 
    
          br
          a(href="/")
            button(type="button" class="btn btn-info") Cancelar
        div(class="col-md-2") &nbsp;
     
    script(src="/js/validacionSesion.js")
    
  include ../partials/footer.pug