include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    - var selected_nav_link = "turnos";
    include ../partials/header.pug
    
    div(class="container-fluid")
      h1= message
    
      br
      br
    
      div(class="row")
        div(class="col-md-4") &nbsp;
        div(class="col-md-4")
          form(method="post" action="/turno/intento" id="formulario")
            div(class="left-input input mb-3")
              select(name="franja" id="franja" required value="" onclick="if(this.opened){this.opened=false;this.blur();}else{this.opened=true;}" onblur="this.opened=false;" onchange="this.setAttribute('value', this.value);")
                option(value hidden selected disabled)
                option(value="temprano") Ma&ntilde;ana
                option(value="tarde") Tarde
              div(class="input_border_focus")
              div(class="input_placeholder") Franja horaria
            div(class="left-input input mb-3")
              input(type="date" name="dia" id="dia" placeholder="dd/mm/aaaa" required value="" onchange="this.setAttribute('value', this.value);")
              div(class="input_border_focus")
              div(class="input_placeholder") D&iacute;a
            input(type="submit" class="btn btn-info" value="Solicitar turno") 
    
          br
          a(href="/")
            button(type="button" class="btn btn-info") Cancelar
        div(class="col-md-4") &nbsp;
     
    script(src="/js/validacionSesion.js")
    
  include ../partials/footer.pug