include ../partials/head.pug
div(style="position: relative; min-height: 100vh;")
  div(style="padding-bottom: calc(1.25rem + 0.3125rem * 2 + 1rem)")
    include ../partials/header.pug
    div(class="container-fluid")
      //- aca va la pagina hasta footer. inicia con 1 tab
      h1= message
    
      br
      br
    
      include ../partials/info.pug
    
      div(class="")
        form(method="post" action="/reencuentros/agregarFoto" id="formulario" enctype="multipart/form-data")
          div(class="mb-3")
            label(for="publicacionId" class="form-label")
            input(type="hidden" class="form-control" name="publicacionId" id="publicacionId" value=publicacionId)
          div(class="mb-3" style="width: 30em; min-width: 25em; margin-left: auto; margin-right: auto;")
            label(for="link_foto" class="form-label") Seleccionar imagen (formatos: "jpg", "jpeg" y "png")
            input(type="file" class="form-control" name="link_foto" id="link_foto" accept=".png, .jpg, .jpeg")
          input(type="submit" class="btn btn-info" value="Añadir foto" disabled) 
    
        br
        a(href="/reencuentros")
          button(type="button" class="btn btn-info") No agregar foto
    
    script(src="/js/validarExtensionFoto.js") 
  include ../partials/footer.pug