include ../partials/head.pug
include ../partials/header.pug

div(class="container-fluid")
  h1= message

  br
  br

  div(class="")
    form(method="post" action="/sesion/intento" id="formulario")
      div(class="mb-3")
        label(for="email" class="form-label") Email 
        input(type="email" class="form-control" name="email" id="email" required value=datos.email) 
      div(class="mb-3")
        label(for="nombre" class="form-label") Contrase&ntilde;a
        input(type="text" class="form-control" name="password" id="password" required value=datos.password)
      input(type="submit" class="btn btn-info" value="Iniciar Sesión") 

    br
    a(href="/")
      button(type="button" class="btn btn-info") Cancelar
 
script(src="/js/validacionSesion.js")

include ../partials/footer.pug